.About{
    background: #fff;
}

.header-normal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 1.2rem;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
}
 
.About .header-back {
    width: .61333333rem;
    height: .34666667rem;
    background: url(../img/left.png);
    background-size: contain;
    position: absolute;
    top: .42666667rem;
    left: .32rem;
}

.header-title {
    max-width: 70%;
    color: #333;
    font-weight: 500;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: .42666667rem;
}

.about-download {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 2.66666667rem;
    margin: 0 auto;
    padding: .66666667rem .21333333rem;
    position: relative;
}

 .About .download-pic {
    width: 4.4rem;
    height: 1.33333333rem;
    background: url(../img/manhua.png) no-repeat;
    background-size: contain;
}

a{
    outline: none;
    text-decoration: none;
    color: #333;
}

.download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.26666667rem;
    height: .8rem;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    background-color: #e7370c;
    font-size: .32rem;
}

.about-info {
    box-sizing: border-box;
    width: 10rem;
    margin: 0 auto;
    padding: 0 .21333333rem;
}

 .info-item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .98666667rem;
    padding: 0 .18666667rem 0 .16rem;
    border-bottom: 1px solid #ddd;
}

.item-left {
    color: #333;
    font-weight: 500;
    font-size: .34666667rem;
}

.item-right {
    color: #666;
    font-weight: 300;
    font-size: .29333333rem;
}

.about-summary {
    box-sizing: border-box;
    width: 10rem;
    margin: 0 auto;
    padding: 0 .21333333rem .26666667rem .37333333rem;
}

.summary-title {
    padding: .34666667rem 0 .26666667rem;
    color: #333;
    font-weight: 500;
    font-size: .34666667rem;
}

 .summary-text {
    line-height: 2;
    color: #666;
    font-weight: 300;
    word-break: break-all;
    font-size: .29333333rem;
}