.login{
    background: #fff;
}

.header-photo {
    background: url(../img/background.png);
    width: 10rem;
    margin: 0 auto;
    padding: 4.29333333rem 0 0;
    background-size: cover;
    position: relative;
}

.icon-back {
    width: .64rem;
    height: .34666667rem;
    background: url(../img/left.png);
    background-size: contain;
    position: absolute;
    top: .42666667rem;
    left: .32rem;
}

.header-pic3 {
    background: url(../img/Lovers.png);
    width: 4.98666667rem;
    height: 4.90666667rem;
    margin: 0 auto;
}

.register-main {
    box-sizing: border-box;
    width: 10rem;
    margin: .53333333rem auto;
    padding: 0 .90666667rem;
}

.input-group {
    display: flex;
    align-items: center;
    padding: 0 0 .13333333rem;
    border-bottom: 1px solid #ddd;
    position: relative;
    font-size: .32rem;
}

input {
    width: 6.13333333rem;
    border: none;
}

.hide {
    color: #fff;
}

.password {
    margin: .8rem 0 0;
}

 .register-btn {
    height: .96rem;
    margin: .53333333rem 0 0;
    line-height: .96rem;
    text-align: center;
    color: #fff;
    background-color: #ff4c17;
    border-radius: 6px;
    font-size: .34666667rem;
}

.register-footer {
    box-sizing: border-box;
    width: 10rem;
    margin: 0 auto;
    padding: 0 .90666667rem .42666667rem;
}

 .content {
    text-align: right;
    font-size: .32rem;
}

.go-login {
    color: #5094f7;
}